@import "tailwindcss";

@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-calendars/styles/material.css";
@import "../node_modules/@syncfusion/ej2-dropdowns/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-schedule/styles/material.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-logo: var(--font-logo);
}

.auth-container-fix {
  background-color: #ffffff !important;
  color: #000000 !important;
  min-height: 100vh;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.ant-card {
  background: transparent !important;
  border: none !important;
}

.ant-card h3 {
  font-size: 1.5rem !important;
}

.ant-input,
.ant-input-password,
.ant-input-affix-wrapper {
  background: rgba(255, 255, 255, 0.05) !important;
  border: 3px solid rgba(255, 255, 255, 0.9) !important;
  color: white !important;
}

.ant-input::placeholder {
  color: rgba(12, 11, 11, 0.5) !important;
}

.ant-form-item-label > label,
.ant-checkbox-wrapper,
.ant-typography {
  color: rgba(12, 11, 11, 0.5) !important;
  font-weight: 400 !important;
  font-size: 1rem !important;
}

.ant-btn-default {
  background: rgba(255, 255, 255, 0.1) !important;
  color: white !important;
  border: 1px solid rgba(255, 255, 255, 0.3) !important;
}
