# Dependencies & caches
node_modules
**/node_modules
pnpm-lock.yaml # (if you copy only package.json; adjust to your flow)
.npm
.pnpm-store
.yarn
**/.cache
.parcel-cache
.turbo
.next
.vite
.gradle
.m2

# Build outputs
dist
build
out
coverage

# VCS & misc
.git
.gitignore
.gitlab
.github
.DS_Store
*.log

# Docker & compose files themselves (not needed inside image)
docker-compose*.yml
[Dd]ockerfile*

# env files
.env

