@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-default: #1a3c5b;
  --color-babyBlue: #4a6ca3;
  --color-marineBlue: #11344b;
  --color-footer-bg: #d1d8de;
  --color-defaultBg: #095f8b;

  --font-logo: var(--font-logo);
  --font-heading: var(--font-heading);
  --font-body: var(--font-body);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.fade-slide-out {
  opacity: 0;
  transform: translateX(40px); /* slide to the right */
  transition: opacity 0.5s ease, transform 0.5s ease;
}

body {
  /* background: var(--background); */
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .checkout-item {
    @apply text-gray-700 font-semibold text-center;
  }
  .checkout-item-title {
    @apply font-medium text-gray-800;
  }
  .details-title {
    @apply font-semibold font-body text-[1.25rem];
  }
  .details-margin {
    @apply mt-[2rem];
  }
  .input {
    @apply flex-1 min-w-[140px];
  }

  .border-top {
    @apply border-t border-t-[2px] border-[#AAB9C9];
  }

  .booking-btn {
    @apply px-6 py-3 bg-[#00A6F4] text-white rounded-3xl w-full mt-[1rem] sm:mt-0 sm:w-auto hover:bg-[#0E7DB5];
  }

  .tab {
    @apply w-full pb-[10px] text-default flex flex-row items-center justify-center font-semibold gap-1 transition border-b-[2px] border-[#D1DBE3];
  }

  .footer-title {
    @apply text-base font-semibold flex justify-center items-center gap-1 lg:justify-start;
  }

  .btn-gallery {
    @apply absolute top-1/2 -translate-y-1/2 text-white text-3xl opacity-80 hover:opacity-100 bg-transparent p-5 cursor-pointer select-none;
  }
  .btn-gallery.left {
    @apply -left-4 sm:left-[2rem] md:left-[4rem] lg:left-[8rem] xl:left-[12rem] 2xl:left-[20rem];
  }
  .btn-gallery.right {
    @apply -right-4 sm:right-[2rem] md:right-[4rem] lg:right-[8rem] xl:right-[12rem] 2xl:right-[20rem];
  }

  .btn-carousel {
    @apply top-[65%] -translate-y-1/2 text-white/90 text-[4rem] px-3 py-0 rounded-full bg-gradient-to-br from-white/30 to-white/10 text-white hover:text-black shadow-[0_4px_15px_rgba(0,0,0,0.4)] border border-white/30 transition-all duration-300 lg:top-1/2 hover:scale-110 hover:shadow-[0_8px_20px_rgba(0,0,0,0.6)] active:scale-95 hover:text-white/100 cursor-pointer;
  }
  .btn-carousel.left {
    @apply absolute left-4;
  }
  .btn-carousel.right {
    @apply absolute right-4;
  }
}
